<!-- Interpolação, colocar o valor descrito na classe entre chaves {{}} 
        {{title}}

        <br/>

        {{name}}
-->

<!-- Deve-se importar o ngModel do @angular/forms no app.module.ts -->
<!-- Adicionando o ngModel apenas entre colchetes 
  irá somente exibir o valor name não irá atualizá-lo. Ou seja, ligação de
uma única via 
      <input [ngModel]="name" name="name" />
-->

<!-- Adicionando ngModel entre [()], haverá atualização do name. 
    Nesse caso a ligação será de dupla via 
      <input [(ngModel)]="name" name="name" /> -->


<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <!-- 
    <router-outlet> fará o papel do switch das rotas dos nossos componentes. 
    Nesse caso renderizará o CourseListComponent 
  -->
  <router-outlet></router-outlet>
</div>

